<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aliou Diallo's Micro blog.">
    <meta name="author" content="Aliou Diallo">

    <%# TODO: Find a way to inject the post title here. %>
    <title>Micro</title>
  </head>

  <body class='helvetica'>
    <%= render_partial @view_template, partial_assigns %>
  </body>
</html>
